body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.btn {
    padding: 8px 12px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}
.btnblue {
    padding: 8px 12px;
    background-color: #2012e4;
    border: none;
    color:white;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

.btn-danger {
    background-color: #f44336;
}

.btn-danger:hover {
    background-color: #db4436;
}
a {
    text-decoration: none;
  }
/* support page */

nav {
    background-color: #f4f4f4;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: #000;
}

section {
    padding: 20px;
}
