/* CSS for header */
header {
    text-align: center;
    padding: 20px;
    background-color:rgba(128,0,128,0.5);
    color: #fff;
}

/* CSS for slideshow */
.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

/* CSS for team members section */
#team-members {
    padding: 20px;
    background-color: #f2f2f2;
}
#slideshow-container {
    padding: 20px;
    background-color: #f2f2f2;
}

/* CSS for subjects section */
#subjects {
    padding: 20px;
}

.team-member {
    width: 20%; /* Adjust width as needed */
    float: left;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.slideshow-container{
 
    width: 20%; /* Adjust width as needed */
    float: left;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.team-member img {
    width: 100%;
    border-radius: 50%; /* For circular images */
}

.team-member h2 {
    margin-top: 10px;
}

.team-member p {
    margin-top: 10px;
    color: #666;
}
body{
    background-image:url('images/indexbackground.jpg');
}
.slides{
    display: none;
}
.slides {
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    background-size: cover;
    background-position: center;
}
.slides img{
    width: 100%;
    height: 200px;
}