/Start of Package And Offers/
.packagerow {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background: #e8c7ee;

}

.side0 {
    width: 80%;
    margin: 50px;
    color: #800080;
}

.side0 h3,
h2 {
    color: #800080;
    font-weight: bold;
    margin-top: 5px;
    align-items: center;
    text-align: center;
}

.side0 h4 {
    color: #800080;
    background-color: yellow;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 10px;
    align-items: left;
    text-align: left;
}

.side0 h5 {
    color: #800080;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 10px;
    align-items: left;
    text-align: left;
}

#side1 {
    background-color: white;
    height: 75vh;
    width: 55vh;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    ;
    align-items: center;
    text-align: center;
}

#side1 p {
    margin-top: 0px;
    cursor: pointer;
    color: #800080;
}

#side1 p:hover {
    color: black;
}

.buy {
    margin-top: 30px;
}

#btn-buy {
    width: 100px;
    height: 20px;
    color: white;
    background-color: #800080;
    border-radius: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#btn-buy:hover {

    color: black;
    background-color: greenyellow;
}

/End of Packages And Offers/
/Start of course/
* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #e8c7ee;

}

.packoff {
    width: 80%;
    margin: 50px auto;
    color: #800080;

}

.packoff h2 {
    color: #800080;
    text-align: left;
}

.packagerow {
    display: flex;


}

#side7 {
    background-color: white;
    height: 60vh;
    width: 60vh;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-items: center;
    text-align: center;
}

.buy1 {
    margin-top: 30px;
    width: 100px;
    height: 20px;
    color: white;
    background-color: #800080;
    border-radius: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.buy1:hover {

    color: black;
    background-color: yellow;
}

#para {
    border-radius: 3px;
    margin-top: 50px;
    height: 60vh;
    color: #800080;
    background-color: #efa1ef;
    text-align: center;
}


/End of course/
/Start of Lecture Registration/
.log {
    background-color: white;
    height: 80vh;
    width: 100%;
    margin: 20px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.log h1 {
    color: #800080;
    font-weight: bold;
    margin-top: 70px;
    align-items: center;
    text-align: center;
}

#side5 {
    margin-left: 500px;
}

#side5 .inp-reg {
    display: flex;
    color: #800080;
    border-color: #800080;
    border-radius: 3px;
    width: 235px;
    margin-top: 5px;
    margin-left: 10px;
    height: 15px;
    align-items: center;
}

.reg {
    display: flex;
}

#side55 {
    margin-left: 70px;
}

#side55 .inp-reg {
    display: flex;
    color: #800080;
    border-color: #800080;
    border-radius: 3px;
    width: 225px;
    height: 15px;
}

#side10 .inp-area {
    color: #800080;
    border-color: #800080;
    border-radius: none;
    width: 550px;
    margin-top: 10px;
    margin-left: 500px;
    height: 100px;
    align-items: center;
    text-align: left;
}

#pripol h5 {
    margin-left: 340px;
}

#pripol .term {
    margin-left: 500px;
}


#register {
    width: 150px;
    height: 22px;
    margin-top: 10px;
    color: #800080;
    background-color: white;
    margin-left: 685px;
    align-items: center;
    border-radius: 3px;
    font-weight: bold;
}

#register:hover {
    color: white;
    background: #800080;
    cursor: pointer;
}


/End of Lecture Registration/
/*Start of Lessons */

.feed {
    background-color: white;
    height: 80vh;
    width: 100%;
    margin: 20px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#back {
    color: #800080;
    border-color: #800080;
    border-radius: none;
    width: 550px;
    margin-top: 10px;
    margin-left: 500px;
    height: 80px;
    font-weight: bold;
    font-family: 'sans-serif';
    align-items: center;
    text-align: left;
}

#video {
    margin-top: 50px;
    margin-left: 500px;
}

#send {
    background-color: white;
}

#send:hover {
    background-color: yellow;
}


/End of Lessons/