header{
    position:fixed;
    top: 0;
    z-index: 1000;
    width:100%;
    background-color:#800080;
}
hr {
    background-color: black;
   
}
footer{
    bottom: 0;
    height: 20vh;
    width:100%;
    background-color: #800080;
    z-index: 1000;
}
.footer h3 {
    color: white;
    
}

.icon1{
    filter: contrast(200%) brightness(150%);
    background-color: white;
    height: 7vh;
}
