/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    
   
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #800080;
    height: 100vh;
    width: 80%;
    border-radius: 5px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    align-items: center;
    text-align: left;
    font-weight: bold;
}
#hed h2{
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
    color: #800080;
}


.update-btn {
    background-color: #28a745; /* Green color for update button */
}

.delete-btn {
    background-color: #dc3545; /* Red color for delete button */
}

/* Button style */
.btn {
    display: inline-block;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;

}

.btn:hover {
    background-color: #0056b3;
}

/* Table styles */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

/* Form styles */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Responsive styles */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}
/*terms and conditions*/
.container1 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #800080;
    height: 130vh;
    width: 80%;
    border-radius: 5px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    align-items: center;
    text-align: left;

}
.container1 h3,h4,p,li{
    color: white;
}

/*privacy and policy*/
.container2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #800080;
    height: 200vh;
    width: 80%;
    border-radius: 5px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    align-items: center;
    text-align: left;

}
.container2 h3,h4,p,li{
    color: white;
}


